<header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mobile-center">
        <i class="fas fa-envelope"></i>kirk.wheeler@onecallforitall.net
        <i class="fas fa-mobile-alt pl-2"></i> 303 870 1257
      </div>
      <div class="col-md-4 text-right">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-md bg-custom navbar-dark">
  <div class="container">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav float-right mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#equipment">Equipment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="home">
  <div class="layer">
    <div class="centerall">
      <h1>One Call For It All</h1>
      <h2 class="text-center text-warning">Proudly Serving Our Customers Since 2005</h2>
      <p class="pl-4 pr-4">Generators, Heaters, Ground Thaw & Light Towers</p>
    </div>
  </div>
</section>
<section id="aboutus">
  <h1>About Us</h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 style="text-align: center">Our Mission</h4>
        <p style="text-align: center">To serve and respect our customers.</p><br><br>
        <div class="row">
          <div class="col-md-6">
            <h5>Values</h5>
            <p>Put the safety of our employees and others first.</p>
            <h5>Profit with a purpose</h5>
            <p>Giving back to help those in need. We are honored to partner with the <a href="https://www.rockymountaindawgsproject.org/" target="_blank">Rocky Mountain Dawgs Project</a> who provides our Veterans suffering from PTSD with service dogs.</p>
          </div>
          <div class="col-md-6">
            <h5>Service</h5>
            <p>To respond to our customers needs in a timely manner. Most requests are responded to within an hour 7 days a week. We offer 24/7/365 fueling on any piece of equipment from our fleet with no delivery charges.</p>
            <h5>Respect</h5>
            <p>To listen to and respect our customer’s needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="equipment">
  <h1>Equipment</h1>
  <hr>
  <div class="container">

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/generac-15kw.jpg" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Generac 15kw Generator</h4>
          <p class="text-center pl-3 pr-3">6 20 amp outlets, 1, 50 amp outlet for many pieces of equipment to be running at the same time without being short of power. Has a 50 gallon tank to last many days without refilling.</p>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/generac-25kw.jpg" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Generac 25kw Generator</h4>
          <p class="text-center pl-3 pr-3">2, 20 amp outlets, 2, 50 amp outlets for extended reach to the jobsite and can be hardwired for single or 3 phase applications.</p>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/generac-60kw.jpg" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Generac 75kw Generator</h4>
          <p class="text-center pl-3 pr-3">Quiet operation and has 2, 20 amp outlets and 3, 50 amp outlets and can be hardwired for single or 3 phase applications.</p>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/multi-quip-20kw.jpg" height="350" width="350" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Multi Quip 20kw Whisperwatt</h4>
          <p class="text-center pl-3 pr-3">Quiet operation so to not infringe on noise levels neighborhoods, has 2, 20 amp outlets, 2, 50 amp outlets, and can be hardwired for single or 3 phase applications.</p>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/multi-quip-36kw.jpg" height="350" width="350" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Multi Quip 36kw Whisperwatt</h4>
          <p class="text-center pl-3 pr-3">Quiet operation to not infringe on noise levels neighborhoods. Has 2, 20 amp outlets, 2, 50 amp outlets, can be hardwired for single or 3 phase applications.</p>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/multi-quip-56kw.jpg" height="300" width="300" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Multi Quip 56kw Whisperwatt</h4>
          <p class="text-center pl-3 pr-3">Quiet operation so to not infringe on noise levels in neighborhoods. Has 2, 20 amp outlets, 3, 50 amp outlets, and can be hardwired for single or 3 phase applications.</p>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/heater.jpg" height="300" width="300" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Indirect Fired Heater</h4>
          <p class="text-center pl-3 pr-3">412,000 BTU diesel fired heater will be sure to meet your heating needs. It comes with up to 50’ distribution hose to get the heat where it is needed.</p>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 p-0">
        <img src="./assets/img/generac-light-tower.jpg" class="img-responsive">
      </div>
      <div class="col-md-6 p-0">
        <div class="bg-customcolor">
          <h4 class="text-center">Generac LED Light Tower</h4>
          <p class="text-center pl-3 pr-3">Will provide extra light on the jobsite, will extend out to 12’ in the air.</p>
        </div>
      </div>
    </div>

  </div>
</section>
<section id="contactus">
  <h1>Contact Us</h1>
  <hr>
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-12">
        <form action="mailto:kirk.wheeler@onecallforitall.net?subject=One Call For It All" method="post" enctype="text/plain">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name*" name="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Number*" name="number">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
              </div>
              <button type="submit" value="Send" class="btn btn-custom">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
  
  